dist: xenial
services:
  - xvfb
addons:
  chrome: stable
language: smalltalk
before_install:
  # FIX Chrome install error
  - sudo apt-get update
  - sudo apt-get install -y dpkg
  - sudo dpkg -i /tmp/google-chrome-stable_current_amd64.deb
before_script:
  - wget http://selenium-release.storage.googleapis.com/3.141/selenium-server-standalone-3.141.59.jar
  - wget https://chromedriver.storage.googleapis.com/77.0.3865.40/chromedriver_linux64.zip
  - unzip chromedriver_linux64.zip
  - "java -Dwebdriver.chrome.driver=chromedriver -jar selenium-server-standalone-3.141.59.jar -port 4444 > /tmp/seleniumlog.&"
smalltalk:
  - Pharo64-alpha
  - Pharo-alpha
  - Pharo64-7.0
  - Pharo64-6.1
  - Pharo-6.1
  - Pharo-5.0
  - Squeak64-5.2
  - Squeak-5.2
  - GemStone-3.5.0
  - GemStone-3.4.2
  - GemStone-3.3.3
  - GemStone-3.2.15
  - GemStone-3.1.0.6
matrix:
  allow_failures:
    - smalltalk: Pharo64-alpha
    - smalltalk: Pharo-alpha
