language: smalltalk
sudo: false
addons:
  firefox: latest
before_script:
  - wget http://selenium-release.storage.googleapis.com/2.53/selenium-server-standalone-2.53.0.jar
  - "java -jar selenium-server-standalone-2.53.0.jar -port 4444 &"
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
smalltalk:
#  - Pharo-5.0
  - Pharo-4.0
#  - Pharo-3.0
#  - Squeak-4.5
#  - Squeak-5.0
#  - GemStone-3.1.0.6
#  - GemStone-3.2.12
#  - GemStone-3.3.0
#cache:
#  directories:
#    - $SMALLTALK_CI_CACHE
